In [3]:
import yfinance as yf

In [4]:
tickers=['AMZN','GOOG','TSLA']
ohlcv_data={}

In [5]:
for ticker in tickers:
    temp=yf.download(ticker,period='1mo',interval='15m')
    temp.dropna(how='any',inplace=True)
    ohlcv_data[ticker]=temp

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [6]:
def MACD(DF,a=12,b=26,c=9):
    df=DF.copy()
    df['ma_fast']= df['Adj Close'].ewm(span=a, min_periods=a).mean()
    df['ma_slow']=df['Adj Close'].ewm(span=b, min_periods=b).mean()
    df['macd']=df['ma_fast']-df['ma_slow']
    df['signal']=df['macd'].ewm(span=c,min_periods=c).mean()
    return df.loc[:,['macd','signal']]

In [7]:
for ticker in ohlcv_data:
    ohlcv_data[ticker][['MACD','SIGNAL']]=MACD(ohlcv_data[ticker])

In [8]:
ohlcv_data['GOOG']

,Open,High,Low,Close,Adj Close,Volume,MACD,SIGNAL
Datetime,,,,,,,,
2023-07-10 09:30:00,119.070000,119.070000,118.220001,118.279999,118.279999,2759739,NaN,NaN
2023-07-10 09:45:00,118.279999,118.309998,116.830002,117.135002,117.135002,2147561,NaN,NaN
2023-07-10 10:00:00,117.120003,118.279999,117.080002,117.930000,117.930000,1497589,NaN,NaN
2023-07-10 10:15:00,117.919998,118.690002,117.860001,118.370003,118.370003,1070571,NaN,NaN
2023-07-10 10:30:00,118.349998,118.550003,117.629997,117.629997,117.629997,920573,NaN,NaN
...,...,...,...,...,...,...,...,...
2023-08-08 10:30:00,131.039993,131.149994,130.679993,131.059998,131.059998,544962,0.109426,0.267572
2023-08-08 10:45:00,131.070007,131.070007,130.529999,130.600006,130.600006,483557,0.048674,0.223793
2023-08-08 11:00:00,130.600006,130.645004,130.130005,130.529999,130.529999,504170,-0.005062,0.178022
2023-08-08 11:15:00,130.639999,131.095001,130.530701,131.020004,131.020004,553879,-0.008017,0.140814
2023-08-08 11:30:00,131.009995,131.110001,130.929993,131.080002,131.080002,248781,-0.005455,0.111560