In [1]:
import yfinance as yf
import numpy as np

tickers=['AMZN','GOOG','TSLA']
ohlcv_data={}
for ticker in tickers:
    temp=yf.download(ticker,period='1mo',interval='5m')
    temp.dropna(how='any',inplace=True)
    ohlcv_data[ticker]=temp

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [2]:
def RSI(DF,n=14):
    df=DF.copy()
    df['change']=df['Adj Close']-df['Adj Close'].shift(1)
    df['gain']=np.where(df['change']>=0,df['change'],0)
    df['loss']=np.where(df['change']<0,-1 * df['change'],0)
    df['avg_gain']=df['gain'].ewm(alpha=1/n,min_periods=n).mean()
    df['avg_loss']=df['loss'].ewm(alpha=1/n,min_periods=n).mean()
    df['rs']=df['avg_gain']/df['avg_loss']
    df['rsi']=100-(100/(1+df['rs']))
    return df['rsi']

In [3]:
for ticker in ohlcv_data:
    ohlcv_data[ticker]['RSI']= RSI(ohlcv_data[ticker])

In [5]:
ohlcv_data['GOOG']

,Open,High,Low,Close,Adj Close,Volume,RSI
Datetime,,,,,,,
2023-07-10 09:30:00-04:00,119.070000,119.070000,118.419998,118.591003,118.591003,1544484,NaN
2023-07-10 09:35:00-04:00,118.599998,118.934998,118.419998,118.459999,118.459999,633928,NaN
2023-07-10 09:40:00-04:00,118.459999,118.720001,118.220001,118.279999,118.279999,581327,NaN
2023-07-10 09:45:00-04:00,118.279999,118.309998,117.760002,117.769997,117.769997,691154,NaN
2023-07-10 09:50:00-04:00,117.779999,117.779999,117.080002,117.171501,117.171501,710918,NaN
...,...,...,...,...,...,...,...
2023-08-08 15:35:00-04:00,131.535004,131.600006,131.490005,131.544998,131.544998,156007,47.872905
2023-08-08 15:40:00-04:00,131.548004,131.838104,131.539993,131.744995,131.744995,232801,56.284230
2023-08-08 15:45:00-04:00,131.740005,131.893005,131.729996,131.834000,131.834000,193930,59.422294
2023-08-08 15:50:00-04:00,131.835007,131.940002,131.755005,131.815506,131.815506,364050,58.482900
2023-08-08 15:55:00-04:00,131.809998,131.929993,131.758804,131.830002,131.830002,567879,59.029631